body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

*:focus {
  outline: none;
}

a {
  text-decoration: none;
}

textarea {
  resize: none;
}

div, button, input {
  box-sizing: border-box;
}
